*{
    margin: 0;
    padding: 0;
    outline: none;
}

html, body, #root, .App{
    height: 100%;
    width: 100vw;
    background-color: #eaebee;
    color: white;
    display: grid;
}
button{
    outline: none;
    cursor: pointer;
    
    background-image: linear-gradient(to right, #1C3334 ,#376E6F);
    background-color: #376E6F;

    color: black;
    border: none;
    border-radius: 10px;
}
button:hover{
    color: white;
}
.app-child{
    width: 650px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #1C3334;
    margin: auto;
}

@media only screen and (max-width: 500px){
    .app-child{
        width: auto;
        height: auto;
        border: 0;
    }
}
/***************************************************************************************

navigation bar styling

***************************************************************************************/
.navBarContent{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1C3334;
}
.navBarContent button{
    width: 200px;
    height: 50px;
    border-radius: 0px;
}
#log-btn-nav{
    background-image: linear-gradient(to right, #1C3334, #376E6F);
    border-right: 1px solid black;
}
#sign-btn-nav{
    background-image: linear-gradient(to right, #376E6F, #1C3334); 
    border-left: 1px solid black;
}

@media only screen and (max-width: 500px){
    .navBarContent Button{
        width: 100px;

    }
}
@media only screen and (min-width: 1200px){
    .navBarContent {
    
        justify-content: center;
    }
}
/***************************************************************************************

content styling

***************************************************************************************/
.content{
    display: grid;
    align-items: center;
    width: calc(100% - 2px);

}

/***************************************************************************************

signup and login styling

***************************************************************************************/

.signup-form, .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 500px;

    
}
.input-values{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-values{
    height: 150px;
}
.input-values input{
    height: 35px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 3px solid black;
    animation: none 10s;
}
@keyframes bad_input {
    0%{
        border-color: darkred;
    }
    90%{
        border-color: darkred;
    }
    100%{
        border-color: black;
    }
}
.signup-form button, .login-form button{
    height: 40px;
    width: 100px;
    margin: 50px auto;
}

@media only screen and (max-width: 500px){
    .input-values{
        width: 300px;
        margin: auto;
    }
    .signup-form, .login-form{
        width: 100%;
    }
}

/***************************************************************************************

orientation of device is in landscape mode

***************************************************************************************/
@media only screen and (orientation: landscape) and (max-width: 1100px){
    html, body, #root, .App{
        height: auto;
    }
    .app-child{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}